<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<div th:replace="componentes/estilo.html"></div>
	<title>ElaisNet - Cambiar contraseña</title>

</head>
<body class="bg-page">

	<div class="container">
        <div class="row d-flex justify-content-center"data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Right popover">
            <div class="col-4">
                <img src="img/logo2.png" class="img-logo">
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <div class="bg-white w-100 p-3 rounded-cus shadow">
                    <div class="border-bottom">
                        <p class="fs-4 fw-bold">Recupera tu cuenta</p>
                        <div id="userCuenta" class="mt-3">
                            <p class='d-inline ms-2'>
                            	<span th:text="${firstName}"></span>
                            	<span th:text="${lastName}"></span>
                            </p>
                        </div>
                    </div>
                    <div class="mt-2 border-bottom p-1">
                        <div class="mb-3">
                        	<span id="match"></span>
                            <input type="password" class="form-control p-3 shadow-none" id="password" placeholder="Ingrese una contraseña"
                            	data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="manual" data-bs-content=".">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control p-3 shadow-none" id="matchPassword" placeholder="Confirme contraseña">
                        </div>
                    </div>
                    <div class="mt-4 d-flex justify-content-end">
                        <a th:href="@{/index}" id="link">
                            <button class="btn btn-gray px-4 text-secondary fw-bolder rounded-cus">Cancelar</button>
                        </a>

                        <button class="btn btn-login px-4 text-white rounded-cus fw-bolder ms-2" id="confirmar">Confirmar</button>   
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<div th:replace="componentes/script.html"></div>
	<script type="text/javascript">
	
		$(document).ready(function(){
			
			var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
            
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
	
            	return new bootstrap.Popover(popoverTriggerEl)
            });
            
            $("#password").popover('hide');	
			
			$("#confirmar").click(function(){
				
				if($("#password").val() != $("#matchPassword").val()){
					
					$("#password").popover('hide');
					
					$("#match").text("Las contraseñas no coinciden");
					
				}else{
					
					$("#match").text("");
					
				    var actual = window.location+'';
					
				    var split = actual.split("=");
				     
				    var token = split[split.length-1];
					
					var passwordDto = {
						newPassword : $("#password").val(),
						oldPassword : $("#matchPassword").val(),
						token : token
					}
					
					$.post("/savePassword", passwordDto, function(data){
						
						if(data == "saved"){
					
							$("#password").popover('hide');
							
							window.location.href = "/index";
							
						}else if((data == "Token inválido") || (data == "El token expiró")){
							
							var url = "/index?token=" + token;
							
							if(data == "Token inválido") url += "&nulo=true";
							
							else if(data == "El token expiró") url += "&expired=true";
							
							window.location.href = url;
							
						}else {
							
							$("#password").addClass("border-danger");
							
							$('#password').attr("data-bs-content", data);
							
							$('#password').popover('show');
						}
						
					});
					
				}
			
			});
			
		});
		
	</script>
</body>
</html>